<h1>show posts</h1>
<h2> <%= @post.title %> </h2>
<h2> <%= @post.body  %> </h2>
<h2> <%= @post.created_at.strftime("%b %d. %Y") %></h2>
<h2> <%= link_to "Edit post", edit_post_path %></h2>
<h2> <%= link_to "Destroy", @post, :confirm =>"are you shure you want to delete", :method => :delete %></h2>


